<div class="products-categories-area">
  <div class="column-1">
    <div class="single-product-category category-1">
      <a routerLink="/shop">
        <img src="assests/imgs/1.jpg" alt="Modern Chair">
        <div class="hover-content">
          <div class="line"></div>
          <p>From $180</p>
          <h4>Modern Chair</h4>
        </div>
      </a>
    </div>
    <div class="single-product-category category-5">
      <a routerLink="/shop">
        <img src="assests/imgs/5.jpg" alt="Plant Pot">
        <div class="hover-content">
          <div class="line"></div>
          <p>From $18</p>
          <h4>Plant Pot</h4>
        </div>
      </a>
    </div>
    <div class="single-product-category category-8">
      <a routerLink="/shop">
        <img src="assests/imgs/8.jpg" alt="Modern Rocking Chair">
        <div class="hover-content">
          <div class="line"></div>
          <p>From $318</p>
          <h4>Modern Rocking Chair</h4>
        </div>
      </a>
    </div>
  </div>

  <div class="column-2">
    <div class="single-product-category category-2">
      <a routerLink="/shop">
        <img src="assests/imgs/2.jpg" alt="Minimalistic Plant Pot">
        <div class="hover-content">
          <div class="line"></div>
          <p>From $180</p>
          <h4>Minimalistic Plant Pot</h4>
        </div>
      </a>
    </div>
    <div class="single-product-category category-6">
      <a routerLink="/shop">
        <img src="assests/imgs/6.jpg" alt="Small Table">
        <div class="hover-content">
          <div class="line"></div>
          <p>From $320</p>
          <h4>Small Table</h4>
        </div>
      </a>
    </div>
    <div class="single-product-category category-9">
      <a routerLink="/shop">
        <img src="assests/imgs/9.jpg" alt="Home Deco">
        <div class="hover-content">
          <div class="line"></div>
          <p>From $318</p>
          <h4>Home Deco</h4>
        </div>
      </a>
    </div>
  </div>

  <div class="column-3">
    <div class="single-product-category category-3">
      <a routerLink="/shop">
        <img src="assests/imgs/3.jpg" alt="Modern Chair">
        <div class="hover-content">
          <div class="line"></div>
          <p>From $180</p>
          <h4>Modern Chair</h4>
        </div>
      </a>
    </div>
    <div class="single-product-category category-4">
      <a routerLink="/shop">
        <img src="assests/imgs/4.jpg" alt="Night Stand">
        <div class="hover-content">
          <div class="line"></div>
          <p>From $180</p>
          <h4>Night Stand</h4>
        </div>
      </a>
    </div>
    <div class="single-product-category category-7">
      <a routerLink="/shop">
        <img src="assests/imgs/7.jpg" alt="Metallic Chair">
        <div class="hover-content">
          <div class="line"></div>
          <p>From $318</p>
          <h4>Metallic Chair</h4>
        </div>
      </a>
    </div>
  </div>
</div>

