<section class="text">
  <div class="container p-4 pb-0">
    <section>
      <form action="">
        <div class="row d-flex justify-content-center">
          <div class="col-md-8 text-left">
            <h3>Subscribe for a <span>25% Discount</span></h3>
            <p>Nulla ac convallis lorem, eget euismod nisl. Donec in libero sit amet mi vulputate consectetur. Donec auctor interdum purus, ac finibus massa bibendum nec.</p>
          </div>
          <div class="col-md-3 text-right">
            <div data-mdb-input-init class="form-outline">
              <input placeholder="    Your E-mail" type="email" id="form5Example26" class="form-control" />
            </div>
            <button data-mdb-ripple-init type="submit" class="btn btn-custom">
              Subscribe
            </button>
          </div>
        </div>
      </form>
    </section>
  </div>
</section>
